.brand-name{
    color:#fff;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

#header{
    color: #c5d7bd;
    width: 100%;
    font-size: small;
    height: 100vh;
    /* margin-bottom: 3px; */
    /* margin-top: 6.5rem; */
    background: #37517e;

}


 

.btn:hover{
    background: transparent;
    color: black;
    font-size: large;
    transition: 0.5s;
}

.header-img{
    text-align: right;
}
#header .animated{
    animation: up-down 1s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
    0%{
        transform: translateY(15px);

    }
    100%{
        transform: translateY((-15px));
    }
}





