.brand-name{
    color:#fff;
}

#home-header{

    color: #c5d7bd;
    width: 100%;
    background: #37517e;
    min-height: 100vh;

}


 

.btn:hover{
    background: transparent;
    color: black;
    font-size: large;
    transition: 0.5s;
}


#home-header .animated{
    animation: up-down 1s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
    0%{
        transform: translateY(15px);

    }
    100%{
        transform: translateY((-15px));
    }
}




